name: CI
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:

permissions:
  contents: read

jobs:
  build-gradle:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle Wrapper
        run: ./gradlew build --full-stacktrace
